*{
    margin: 0%;
    padding: 0%;
}

img{
    width: 400px;
}

h2{
    font-size: 40px;
}

p{
    font-size:14px;
}

body{
    background-color: rgb(206, 250, 250);
}

h1{
    font-size: 50px;
    background-color: rgb(48, 241, 216);
}